lib(name = "file",
    src = [ "file.cc" ],
    hdr = [ "file.h" ],
    dep = [ "/public/base/args/args", "/public/base/logging" ])

test(name = "file_test",
     src = [ "file_test.cc"],
     dep = [ "/public/test/cc/test_main",
             "file",
           ])

lib(name = "monitor_file_access",
    src = [ "monitor_file_access.cc" ],
    hdr = [ "monitor_file_access.h" ],
    dep = [ "/public/base/args/args", "/public/base/logging", "/public/util/init/init" ])

bin(name = "monitor_file_access_example",
    src = [ "monitor_file_access_example.cc" ],
    dep = [ "monitor_file_access", "/public/util/init/main" ])

lib(name = "shared_writer",
    src  = ["shared_writer.cc"],
    dep  = ["/base/common"])
