lib(name = "porter_stemmer",
    src  = ["porter_stemmer.cc"],
    dep  = ["/public/util/serial/serializer"])

lib(name = "strutil",
    src = [ "strutil.cc" ],
    hdr = [ "strutil.h" ],
    dep = [ "/public/base/logging" ])

test(name = "strutil_test",
     src = [ "strutil_test.cc"],
     dep = [ "strutil", "/public/test/cc/test_main" ])

lib(name = "unicode",
    src = [ "unicode.cc"],
    dep = [ "/public/util/init/init" ],
    link = ["-licuio -licuuc -licui18n"])

test(name = "unicode_test",
     src  = [ "unicode_test.cc" ],
     dep  = [ "unicode", "/public/test/cc/test_main" ])
