# Libs

# This is new lite version that most libraries would need to get started.
# WARNING: DO NOT ADD anything to this rule without checking with oztekin@ or pramodg@ first.
lib(name = "lite",
    hdr = [ "lite.h" ],
    dep = [ "/public/base/args/args",
            "defs",
            "logging",
          ])

lib(name = "common",
    dep = [ "logging", "args/args" ])

lib(name = "defs",
    hdr = [ "defs.h" ])

lib(name = "demangle",
    src = [ "demangle.cc" ],
    hdr = [ "demangle.h" ])

lib(name = "logging",
    src = [ "logging.cc" ],
    hdr = [ "logging.h" ],
    dep = [ "sysinfo", "system" ])

lib(name = "sysinfo",
    src = [ "sysinfo.cc" ],
    hdr = [ "sysinfo.h" ],
    dep = [ "args/args", "logging" ])

lib(name = "system",
    src = [ "system.cc" ],
    hdr = [ "system.h" ],
    link = ["-ldl"])

# Tests
test(name = "demangle_test",
     src = [ "demangle_test.cc"],
     dep = [ "/public/test/cc/test_main",
             "demangle",
           ])

test(name = "logging_test",
     src = [ "logging_test.cc"],
     dep = [ "logging" ])
