# Libs

# This is new lite version that most libraries would need to get started.
# WARNING: DO NOT ADD anything to this rule without checking with oztekin@ or pramodg@ first.
lib(name = "lite",
    hdr = [ "lite.h" ],
    dep = [ "/public/base/args/args",
            "defs",
            "logging",
          ])

# TODO(pramodg,eng):
# 1. Move each of the files to their own libraries.
# 2. Move all string stuff to util/string.
# 3. Deprecate. This library has grown too big to be useful any more.
lib(name = "common",
    hdr = [ "common.h" ],
    dep = [ "/public/base/args/args",
            "/public/util/file/file",
            "/public/util/file/monitor_file_access",
            "/public/util/init/init",
            "/public/util/init/main",
            "/public/util/memory/new_handler",
            "/public/util/memory/stringstorage",
            "/public/util/process/external",
            "/public/util/string/strutil",
            "defs",
            "logging",
            "signal_handler",
            "sysinfo",
            "system",
          ],
    flag = ["-DR77_USE_STRINGSTORAGE"],   # Needed for open sourced test/cc/test
    link = ["-ldl" ])

lib(name = "defs",
    hdr = [ "defs.h" ])

lib(name = "demangle",
    src = [ "demangle.cc" ],
    hdr = [ "demangle.h" ])

lib(name = "logging",
    src = [ "logging.cc" ],
    hdr = [ "logging.h" ],
    dep = [ "sysinfo", "system" ])

lib(name = "signal_handler",
    hdr = [ "signal_handler.h" ],
    dep = [ "logging" ])

lib(name = "sysinfo",
    src = [ "sysinfo.cc" ],
    hdr = [ "sysinfo.h" ],
    dep = [ "/public/base/args/args",
            "logging" ])

lib(name = "system",
    src = [ "system.cc" ],
    hdr = [ "system.h" ],
    link = ["-ldl"])

# Tests
test(name = "demangle_test",
     src = [ "demangle_test.cc"],
     dep = [ "/public/test/cc/test_main",
             "demangle",
           ])

test(name = "logging_test",
     src = [ "logging_test.cc"],
     dep = [ "logging" ])
