# Libraries
lib(name = "calendarutil",
    src = ["calendarutil.cc"],
    dep = ["/public/base/common"])

lib(name = "duration",
    hdr  = ["duration.h"])

lib(name = "generic_timedomain",
    src = ["genericpoint.cc"],
    dep = ["timedomain", "nature/sun", "utime"])

lib(name = "localtime",
    src = [ "localtime.cc" ],
    dep = [ "calendarutil",
            "/public/util/serial/serializer"
          ])

lib(name = "simple_timer",
    hdr  = ["simple_timer.h"],
    dep  = ["/public/base/common",
             "/public/util/time/duration"
           ])

lib(name = "timedomain",
    src = ["sharppoint.cc", "timeduration.cc"],
    dep = ["calendarutil", "localtime"])

lib(name = "timestamp",
    hdr = ["timestamp.h"],
    dep = ["/public/base/common"])

lib(name = "timeutil",
    src = ["timeutil.cc"],
    dep = ["generic_timedomain"])

lib(name = "timezone",
    src = ["timezone.cc"],
    dep = ["timedomain"])

lib(name = "utime",
    src = ["utime.cc"],
    dep = ["timezone"])

lib(name = "common",
    src = [],
    dep = ["timeutil"])

# Tests.
test(name = "localtime_test",
     src  = [ "localtime_test.cc" ],
     dep  = [ "localtime",
              "/public/test/cc/test_main"
            ])

test(name = "timedomain_unittest",
     src  = ["timedomain_unittest.cc"],
     dep  = ["generic_timedomain"])

test(name = "time_unittest",
     src  = ["time_unittest.cc"],
     dep  = ["timeutil"])

