# libraries
lib(name = "cached_httpclient",
    src = [ "cached_httpclient.cc" ],
    dep = [ "sslclient",
            "httputil"
          ])

lib(name = "netclient",
    src = [ "netclient.cc" ],
    hdr = [ "netclient.h" ],
    dep = [ "/public/base/common",
            "util"
          ])

lib(name = "httpclient",
    hdr = [ "httpclient.h" ],
    dep = [ "/public/base/common",
            "httputil",
            "netclient",
            "sslclient",
            "/public/util/serial/serializer",
          ])

lib(name = "httputil",
    src = [ "httputil.cc" ],
    dep = [ "/public/base/common",
            "/public/util/compress/gzip"
          ])

lib(name = "office",
    src = ["office.cc"],
    dep = ["/public/base/lite"])

lib(name = "rpc_datatypes",
    hdr = [ "rpc_datatypes.h" ],
    dep = [ "/public/util/serial/serializer" ])

lib(name = "rpcclient",
    hdr = [ "rpcclient.h" ],
    dep = [ "/public/util/serial/serializer",
            "/public/util/serial/encoding/encoding",
            "/public/util/time/simple_timer",
            "netclient",
            "rpc_datatypes",
          ])

lib(name = "rpcclient_util",
    hdr = [ "rpcclient_util.h" ],
    dep = [ "/public/util/serial/serializer",
            "/public/util/codetranslator/server_config",
            "rpc_datatypes",
            "rpcclient",
          ])

lib(name = "rpcserver",
    src = [ "rpcserver.cc" ],
    dep = [ "/public/base/common",
            "/public/util/network/method/server_method_forward_collection",
            "/public/util/network/method/server_method_handler",
            "/public/util/network/method/common_methods/common_methods",
            "/public/util/network/method/common_methods/params/param_editor",
            "/public/util/serial/serializer",
            "/public/util/serial/encoding/encoding",
            "/public/util/file/shared_writer",
            "/public/util/time/utime",
            "/public/util/thread/thread_stack",
            "rpc_datatypes",
            "server",
            "webserver",
          ])

lib(name = "server",
    src = [ "netserver.cc" ],
    dep = [ "util",
            "/public/util/thread/thread_pool",
          ])

lib(name = "sslclient",
    src = [ "sslclient.cc" ],
    dep = [ "netclient" ],
    link = [ "-lssl", "-lcrypto" ])

lib(name = "util",
    src = [ "util.cc",
            "dnslookup.cc"
          ],
    dep = [ "/public/base/common",
            "/public/util/serial/serializer",
            "/public/util/time/utime"
          ])

lib(name = "webserver",
    src = [ "webserver.cc" ],
    dep = [ "server",
            "httputil"
          ])

lib(name = "wrapped_httpclient",
    hdr = [ "wrapped_httpclient.h" ],
    dep = [ "httpclient",
            "httputil",
            "netclient",
            "rpc_datatypes",
            "rpcclient",
            "sslclient",
            "/public/util/serial/serializer",
          ])

# tests
test(name = "util_test",
     src  = [ "util_test.cc" ],
     dep  = [ "util",
              "/public/test/cc/test_main" ])

test(name = "webserver_test",
     src  = [ "webserver_test.cc" ],
     dep  = [ "webserver",
              "/public/test/cc/test_main" ])
